nav {
    padding: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    a {
    margin: 5px;
    margin-left: 40px;
    text-decoration: none;
    color: black;
    }
    button {
    background-color: #2267ce;
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    box-shadow: none;
    border: none;
    }
    #icon {
        font-size: 30px;
        color: #2267ce;
        margin: 10px 450px 220px 20px;
        }
#Hesde{
    animation: slide-up 2s;
    font-family: 'Times New Roman', Times, serif;
    font-size: xxx-large;
    position: absolute;
            right: 690px;
            top: 350px;
    color: #0f4392;
    background-color: rgba(255, 255, 255, 0.486);
}
@keyframes slide-up{
    from{
        opacity: 0.2;
        line-height: 200px;
    }

    to{
        opacity: 1;
        line-height: 25px;
    }
}
#hi{
    margin-left: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    margin-left: 150px;
    margin-right: 100px;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    margin-left: 100px;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#DIV{
    margin-left: 150px;
    margin-top: 20px;
    border:1px solid black;
    border-width: 2px;
    border-radius: 15px;
    display: inline-block;
}
#my{
    margin-left: 100px;
}
.i{
    margin-left: 2px;
}
#how{
    margin-left: 65px;
}
#R{
    margin-left: 1300px;
    margin-top: 0px;
}
h4{
    margin-left: 700px;
    font-size: x-large;
}
#YT{
    margin-left: 1000px;
}
footer{
    font-size: x-large;
    opacity: 0.7;
}